<nav>
	<ul class="doc-menu">
		<li class="doc-menu__items"><a title="{{ page.title }}" href="{{ site.baseurl }}/doc/base/" class="doc-menu__link {% if page.url contains "base" %}doc-menu__link--current{% endif %}">third</a></li>
		<li class="doc-menu__items"><a title="{{ page.title }}" href="{{ site.baseurl }}/doc/base/" class="doc-menu__link {% if page.url contains "base" %}doc-menu__link--current{% endif %}">third</a></li>
		<li class="doc-menu__items"><a title="{{ page.title }}" href="{{ site.baseurl }}/doc/base/" class="doc-menu__link {% if page.url contains "base" %}doc-menu__link--current{% endif %}">third</a></li>
		<li class="doc-menu__items"><a title="{{ page.title }}" href="{{ site.baseurl }}/doc/base/" class="doc-menu__link {% if page.url contains "base" %}doc-menu__link--current{% endif %}">third</a></li>
		<li class="doc-menu__items"><a title="{{ page.title }}" href="{{ site.baseurl }}/doc/base/" class="doc-menu__link {% if page.url contains "base" %}doc-menu__link--current{% endif %}">third</a></li>
	</ul>
</nav>