<nav class="doc-menu-secondary">
	<ul class="doc-menu">
		<li class="doc-menu__items"><a title="{{ page.title }}" href="{{ site.baseurl }}/doc/base/" class="doc-menu__link {% if page.url contains "base" %}doc-menu__link--current{% endif %}">Base</a></li>
		<li class="doc-menu__items"><a title="{{ page.title }}" href="{{ site.baseurl }}/doc/type/" class="doc-menu__link {% if page.url contains "type" %}doc-menu__link--current{% endif %}">Type</a></li>
		<li class="doc-menu__items"><a title="{{ page.title }}" href="{{ site.baseurl }}/doc/layouts/" class="doc-menu__link {% if page.url contains "layouts" %}doc-menu__link--current{% endif %}">Layouts</a></li>
		<li class="doc-menu__items"><a title="{{ page.title }}" href="{{ site.baseurl }}/doc/colors/" class="doc-menu__link {% if page.url contains "colors" %}doc-menu__link--current{% endif %}">Colors</a></li>
	</ul>
</nav>

<nav class="doc-menu-secondary">
	<ul class="doc-menu">
		<li class="doc-menu__items"><a title="{{ page.title }}" href="{{ site.baseurl }}/doc/avatars/" class="doc-menu__link {% if page.url contains "avatars" %}doc-menu__link--current{% endif %}">Avatars</a></li>
		<li class="doc-menu__items"><a title="{{ page.title }}" href="{{ site.baseurl }}/doc/accordion/" class="doc-menu__link {% if page.url contains "accordion" %}doc-menu__link--current{% endif %}">Accordion</a></li>
		<li class="doc-menu__items"><a title="{{ page.title }}" href="{{ site.baseurl }}/doc/buttons/" class="doc-menu__link {% if page.url contains "buttons" %}doc-menu__link--current{% endif %}">Buttons</a></li>
		<li class="doc-menu__items"><a title="{{ page.title }}" href="{{ site.baseurl }}/doc/forms/" class="doc-menu__link {% if page.url contains "forms" %}doc-menu__link--current{% endif %}">Forms</a></li>
		<li class="doc-menu__items"><a title="{{ page.title }}" href="{{ site.baseurl }}/doc/font-icons/" class="doc-menu__link {% if page.url contains "font-icons" %}doc-menu__link--current{% endif %}">Font Icons</a></li>
		<li class="doc-menu__items"><a title="{{ page.title }}" href="{{ site.baseurl }}/doc/images/" class="doc-menu__link {% if page.url contains "images" %}doc-menu__link--current{% endif %}">Images</a></li>
		<li class="doc-menu__items"><a title="{{ page.title }}" href="{{ site.baseurl }}/doc/list-group/" class="doc-menu__link {% if page.url contains "list-group" %}doc-menu__link--current{% endif %}">List Group</a></li>
		<li class="doc-menu__items"><a title="{{ page.title }}" href="{{ site.baseurl }}/doc/media/" class="doc-menu__link {% if page.url contains "media" %}doc-menu__link--current{% endif %}">Media Object</a></li>
		<li class="doc-menu__items"><a title="{{ page.title }}" href="{{ site.baseurl }}/doc/navigations/" class="doc-menu__link {% if page.url contains "navigations" %}doc-menu__link--current{% endif %}">Navigations</a></li>
		<li class="doc-menu__items"><a title="{{ page.title }}" href="{{ site.baseurl }}/doc/notices/" class="doc-menu__link {% if page.url contains "notices" %}doc-menu__link--current{% endif %}">Notices</a></li>
		<li class="doc-menu__items"><a title="{{ page.title }}" href="{{ site.baseurl }}/doc/panels/" class="doc-menu__link {% if page.url contains "panels" %}doc-menu__link--current{% endif %}">Panels</a></li>
		<li class="doc-menu__items"><a title="{{ page.title }}" href="{{ site.baseurl }}/doc/misc/" class="doc-menu__link {% if page.url contains "misc" %}doc-menu__link--current{% endif %}">Misc</a></li>
	</ul>
</nav>

