// Skeleton front page
body#skeleton
	min-height: 100vh
	background: #f7f7f7
	
.l-skeleton
	//debug()

	lost-center: 980px 15px no-flex
	
	
	
#skeleton-logo
	fs: 3rem
	margin-bottom: 3rem
	color: $primary-color
	
	+above('m')
		fs: 6rem
	
.skeleton-intro
	fs: 1.1rem
	margin-bottom: 2rem
	
	+above('m')
		fs: 1.3rem
		
.skeleton-links
	a
		display: inline-block
		fs: 1.3rem
		
		position: relative
		padding: 0 5px 0 10px
		
		// &::before
		// 	content: '·'
		// 	position: absolute
		// 	left: 0
			

	
.skeleton-content-container
	width: 100%
	max-width: 980px
	padding: 4rem 20px
	text-align: center
