<form action="#" method="post">

	<div>
		<h4>Text input</h4>
		<label for="name">Label text:</label>
		<input type="text" name="name" id="name" placeholder="Placeholder text" />
	</div>

	<div>
		<h4>Search</h4>
		<label for="name">Search label:</label>
		<input type="search" name="search" id="search" placeholder="Type to search" />
	</div>

	<div>
		<h4>Radio Button</h4>
		<input type="radio" name="radio-choice-1" id="radio-choice-1" tabindex="2" value="choice-1" />
		<label for="radio-choice-1">Label 1</label>

		<input type="radio" name="radio-choice-2" id="radio-choice-2" tabindex="3" value="choice-2" />
		<label for="radio-choice-2">Label 2</label>
	</div>

	<div>
		<h4>Checkbox</h4>
		<input type="checkbox" name="checkbox" id="checkbox" />
		<label for="checkbox">Checkbox label:</label>
	</div>

	<div>
		<h4>Textarea</h4>
		<label for="textarea">Textarea label:</label>
		<textarea cols="40" rows="8" name="textarea" id="textarea"></textarea>
	</div>

	<div>
		<h4>Submit button</h4>
		<input type="submit" value="Submit" />
	</div>

	<div>
		<label for="select-choice">Select:</label>
		<select name="select-choice" id="select-choice">
			<option value="Choice 1">Option 1</option>
			<option value="Choice 2">Option 2</option>
			<option value="Choice 3">Option 3</option>
		</select>
	</div>

</form>
