<form id="doc-form">
	<div class="l-col l-col-2">
		<div class="col">
			<label for="name">Label text:</label>
			<input type="text" name="name" id="name" placeholder="Placeholder text" />
		</div>
		<div class="col">
			<label for="name">Label text:</label>
			<input type="text" name="name" id="name" placeholder="Placeholder text" />
		</div>
		<div class="col">
			<label for="textarea">Textarea label:</label>
			<textarea cols="40" rows="8" name="textarea" id="textarea"></textarea>
			<input type="submit" value="Submit" class="btn btn--primary" />
		</div>
	</div>
</form>

