<div class="input-group">
	<span class="input-group__addon" id="basic-addon1">@</span>
	<input type="text" class="input-group__field" placeholder="Username" />
</div>

<div class="input-group">
	<input type="text" class="input-group__field" placeholder="Recipient's username" aria-describedby="basic-addon2" />
	<span class="input-group__addon" id="basic-addon2">@example.com</span>
</div>

<div class="input-group">
	<span class="input-group__addon">$</span>
	<input type="text" class="input-group__field" />
	<span class="input-group__addon">.00</span>
</div>

<div class="input-group">
	<span class="input-group__addon" id="basic-addon3">https://example.com/users/</span>
	<input type="text" class="input-group__field" />
</div>

<h3 class="panel-doc__heading">Input groups with button</h3>
<div class="input-group-btn">
	<input type="text" class="input-group-btn__field" />
	<input type="submit" value="Search" class="input-group-btn__btn" />
</div>

<div class="input-group-btn">
	<input type="text" class="input-group-btn__field" />
	<input type="submit" name="search" value="Search" class="input-group-btn__btn input-group-btn__btn--primary" />
</div>
