<h4>Default</h4>
<figure>
	<img src="{{ site.baseurl }}/img/img-hero.jpg" alt="Figure and figcaption" />
	<figcaption>
		Caption Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	</figcaption>
</figure>

<h4>Figure with sizing</h4>
<figure class="figure img--small">
	<img src="{{ site.baseurl }}/img/img-hero.jpg" alt="Figure and figcaption" />
	<figcaption>
		Caption Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	</figcaption>
</figure>

<figure class="figure img--medium">
	<img src="{{ site.baseurl }}/img/img-hero.jpg" alt="Figure and figcaption" />
	<figcaption>
		Caption Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	</figcaption>
</figure>

<figure class="figure img--large">
	<img src="{{ site.baseurl }}/img/img-hero.jpg" alt="Figure and figcaption" />
	<figcaption>
		Caption Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	</figcaption>
</figure>