<!-- Thumbnail -->
<h4>Thumbnail 75 x 75 px</h4>
<div class="img--thumbnail">
	<img src="{{ site.baseurl }}/img/img-hero.jpg" alt="">
</div>

<!-- Small -->
<h4>Small 240 x 161 px</h4>
<div class="img--small">
	<img src="{{ site.baseurl }}/img/img-hero.jpg" alt="">
</div>

<!-- Medium -->
<h4>Medium 500 x 334 px</h4>
<div class="img--medium">
	<img src="{{ site.baseurl }}/img/img-hero.jpg" alt="">
</div>

<!-- Large -->
<h4>Large 800 x 420 px</h4>
<div class="img--large">
	<img src="{{ site.baseurl }}/img/img-hero.jpg" alt="">
</div>

<!-- XLarge -->
<h4>XLarge 1024 x 768 px</h4>
<div class="img--xlarge">
	<img src="{{ site.baseurl }}/img/img-hero.jpg" alt="">
</div>