// ==============================================================
// ==	Main css
// 		Import all components
// ==============================================================
// @import 'demo';

// Reset
@import 'lib/normalize'

// Library
@import 'lib/font'
@import 'lib/mixin'
@import 'lib/ms'

// Styles
@import 'setting'
@import 'base/**/*'
@import 'layout/**/*'
@import 'module/**/*'
@import 'state/**/*'
// @import 'theme/*'

// Doc
@import 'doc/doc'
@import 'doc/syntax'

// Skeleton front page
@import 'doc/skeleton'