// ==============================================================
// ==	Global settings
// + 	Color
// + 	Line & Border
// + 	Spacing
// + 	Font
// ==============================================================


// ---------------------------
// + 	Color
// ---------------------------
// Grayscale
$gray = #f2f2f2
$dark-gray = darken( $gray, 5% )
$darker-gray = darken( $gray, 10% )
$black = #333
$light-black = lighten( $black, 10% )
$lighter-black = lighten( $black, 20% )

// Branding color
$primary-color = #95a5a6
$secondary-color = #ABB7B7
//$third-color = #333
$alt-color = #f1c40f
$action-color = $primary-color

// Font color
$font-color = #111
$heading-font-color = $font-color
$muted-color = lighten( $font-color, 60% )

// Background color
$default-color = $dark-gray
$site-bg-color = #fff
$bg-color = #fff
$secondary-bg-color = #f5f5f5

// Border color
$border-color = darken( $dark-gray, 3% )

// State colors
$info-color = #3498db
$success-color = #2ecc71
$warning-color = #f1c40f
$error-color = #e74c3c

// ---------------------------
// +	Spacing
// ---------------------------
$spacing = 1.5rem
$small-spacing = $spacing / 2
$large-spacing = $spacing * 2

// ---------------------------
// +	Font
// ---------------------------
$sans-serif = "Open Sans", Arial, sans-serif
$serif = "NotoSerif", serif

$heading-font-family = $serif
$font-family = $serif

// Thai font
$th-heading-font-family = 'Block', sans-serif
$th-font-family = 'THSarabunNew', sans-serif

// Code font
$monospace-font-family = Menlo, Monaco, Consolas, "Courier New", monospace

$font-size = 95%
$small-font-size = .8rem
$large-font-size = 1.5rem

$font-weight = 400
$heading-font-weight = 500

$line-height = 1.6
$heading-line-height = ms(1)

// ---------------------------
// +	Border
// ---------------------------
$border-radius = 3px

// ---------------------------
// + 	Lost grid setup
// ---------------------------
@lost gutter 1.5rem