// ==============================================================
// ==	Image
// ==============================================================

// ---------------------------
// +	Image size
// ---------------------------
.img--thumbnail,
.img--small,
.img--medium,
.img--large,
.img--xlarge
	margin-bottom: $spacing
	overflow: hidden
	width: 100%
	height: auto
	//background: blue
	
	img
		width: 100%
		height: 100%
		object-fit: cover
		
	+ figcaption
		margin-top: -($spacing)
	
// Thumbnail
.img--thumbnail
	max-width: 75px
	height: 75px
	
// Small
.img--small
	max-width: 240px
	height: 161px
	
// Medium
.img--medium
	max-width: 500px
	height: 334px
	
// Large
.img--large
	max-width: 800px
	height: 420px
	
// XLarge
.img--xlarge
	max-width: 1024px
	height: 768px
	
// Figure
.figure
	height: auto !important