// ==============================================================
// == Links
// ==============================================================

// ---------------------------
// +	Animate link
//		Animated underline link
// 		http://www.cssportal.com/blog/css-animated-underline-links/
// ---------------------------
// a:after
// 	content: ''
// 	position: absolute
// 	bottom: 0
// 	left: 0
	
// 	width: 0%
	
// 	border-bottom: 2px solid darken( $action-color, 15% )
	
// 	transition: 0.4s

// a:hover:after
// 	width: 100%

// ---------------------------
// +	Mute link
// ---------------------------
.link--muted
	nolinkanimate()
	color: $muted-color
	
	&:hover
		color: lighten( $font-color, 70% )
		
a[muted=muted]
	color: $muted-color
	
	&:hover
		color: lighten( $font-color, 70% )

// .link--new
// 	relative()
// 	padding-right: 15px
// 	margin-right: 3px
	
// .link--new::before
// 	faIcon()
// 	absolute: top 7px right 0
// 	content: $fa-var-external-link
// 	font-size: 10px
	
a[target=_blank]
	relative()
	padding-right: 15px
	margin-right: 3px
	
	&::before
		faIcon()
		absolute: top 7px right 0
		content: $fa-var-external-link
		font-size: 10px
	
// ---------------------------
// +	Disable link
// ---------------------------
a[disabled=disabled]
	color: $muted-color
	cursor: not-allowed
	
	&:hover
		color: $muted-color
	