// ==============================================================
// == 	List
// ==============================================================
.list-no-bullet
	//debug()
	list-style: none
	
	li
		left: 0
		
// ---------------------------
// +	List group
// ---------------------------
.list-group
	
	.list-group__items
		display: block
		
		position: relative
		left: 0
		
		padding: 10px 15px
		margin-bottom: -1px
		
		background-color: #fff
		border: 1px solid $border-color