// ==============================================================
// ==	Panel
// ==============================================================
.panel
	//debug()
	margin-bottom: $spacing
	border: 1px solid $border-color
	
	.panel__header,
	.panel__footer,
	.panel__content
		padding: .8rem 1rem
		
		p:last-child
			margin-bottom: 0
			
	.panel__header
		border-bottom: 1px solid $border-color
		
		*:last-child
			margin-bottom: 0
			
	.panel__footer
		border-top: 1px solid $border-color
		
	.panel__title
		font-size: ms(1)rem