// ==============================================================
// == 	Disable state
// ==============================================================
button[disabled],
.btn[disabled],
.is-disable
	opacity: .5
	cursor: not-allowed
	
	&:hover,
	&:active,
	&:focus
		opacity: .5
		
// ---------------------------
// +	Button disable
// ---------------------------
