<div class="notice-message">
	<div class="notice">
		<p>This is default message.</p>
	</div>
</div>

<div class="notice-message">
	<div class="notice notice--info">
		<p>This is info message.</p>
	</div>
</div>

<div class="notice-message">
	<div class="notice notice--success">
		<p>This is success message.</p>
	</div>
</div>

<div class="notice-message">
	<div class="notice notice--warning">
		<p>This is warning message.</p>
	</div>
</div>

<div class="notice-message">
	<div class="notice notice--error">
		<p>This is error message.</p>
	</div>
</div>