// ==============================================================
// ==	Layout
// ==============================================================


// ---------------------------
// + 	Default
//		Mobile first
// ---------------------------
.content-block
	// debug()
	margin-bottom: $large-spacing
	
.main
	// debug()
	// overflow: hidden
	width: 100%
	margin-bottom: $large-spacing
	
.sidebar
	// debug()
	// overflow: hidden
	width: 100%
	margin-bottom: $large-spacing

// ---------------------------
// + 	Columns
// ---------------------------
.l-col
	// debug()
	cf()
	

.l-col-1
	.col
		lost-column: 1/1
		
.l-col-2
	.col
		lost-column: 1/1
		
		+above('m')
			lost-column: 1/2
		
.l-col-3
	.col
		lost-column: 1/1
		
		+above('m')
			lost-column: 1/3
		
.l-col-4
	.col
		lost-column: 1/1
		
		+above('m')
			lost-column: 1/4
		
.l-col-5
	.col
		lost-column: 1/1
		
		+above('m')
			lost-column: 1/5
		
.l-col-6
	.col
		lost-column: 1/1
		
		+above('m')
			lost-column: 1/6
		
// ---------------------------
// + 	Waffle grids
// ---------------------------
// .l-waffle
// 	height: 100%
	
.l-waffle-1
	.col
		lost-waffle: 1/1 1
.l-waffle-2
	.col
		lost-waffle: 1/2 2
		
.l-waffle-3
	.col
		lost-waffle: 1/3 3
		
.l-waffle-4
	.col
		lost-waffle: 1/4 4