// ---------------------------
// +	Import fonts
// ---------------------------
// Block
@font-face
	font-family: 'Block'
	font-path: '../fonts/Block-Regular'
	font-weight: 400
	font-style: normal
  
// Open Sans Light
@font-face
	font-family: 'Open Sans Light'
	font-path: '../fonts/OpenSans-Light'
	font-weight: normal
	font-style: normal
	
// Open Sans
@font-face
	font-family: 'Open Sans'
	font-path: '../fonts/OpenSans-Regular'
	font-weight: normal
	font-style: normal
	
// Noto serif
@font-face
	font-family: 'NotoSerif'
	font-path: '../fonts/NotoSerif-Regular'
	font-weight: normal
	font-style: normal
