<!-- <h4>Default</h4>
<input type="button" value="Input type button" />
<input role="button" value="Input role button" />
<button>Button</button>
<button class="btn">button.btn</button>
<a href="#" class="btn">a.btn</a>
<br />

<h4>Variations</h4>
<button class="btn btn--primary">Primary Button</button>
<button class="btn btn--secondary">Secondary Button</button>
<button class="btn btn--alt">Alternate Button</button>
<br />

<h4>Disable</h4>
<button class="btn" disabled="disabled">Primary Button</button>
<button class="btn btn--primary" disabled="disabled">Primary Button</button>
<button class="btn btn--secondary" disabled="disabled">Secondary Button</button>
<button class="btn btn--alt" disabled="disabled">Alternate Button</button>
<br />

<h4>Button Group</h4>
<div class="btn-group" role="group" aria-label="">
	<button type="button" class="btn-group__btn">Left</button>
	<button type="button" class="btn-group__btn">Middle</button>
	<button type="button" class="btn-group__btn">Right</button>
</div>

<div class="btn-group" role="group" aria-label="">
	<button type="button" class="btn-group__btn"><i class="fa fa-align-left"></i></button>
	<button type="button" class="btn-group__btn"><i class="fa fa-align-center"></i></button>
	<button type="button" class="btn-group__btn"><i class="fa fa-align-right"></i></button>
	<button type="button" class="btn-group__btn"><i class="fa fa-align-justify"></i></button>
	<button type="button" class="btn-group__btn"><i class="fa fa-font"></i></button>
</div>

<h4>Dropdown Button</h4>
<button class="btn btn--primary">Primary Button</button>
<button class="btn btn--secondary">Secondary Button</button>
<button class="btn btn--alt">Alternate Button</button>
<br /> -->
