You can use the mark tag to <mark>highlight</mark> text.<br />
<del>This line of text is meant to be treated as deleted text.</del><br />
<s>This line of text is meant to be treated as no longer accurate.</s><br />
<ins>This line of text is meant to be treated as an addition to the document.</ins><br />
<u>This line of text will render as underlined</u><br />
<small>This line of text is meant to be treated as fine print.</small><br />
<strong>rendered as bold text</strong><br />
<b>rendered as bold text</b><br />
<em>rendered as italicized text</em><br />
<i>rendered as italicized text</i>