<div class="media">

	<div class="media__items">
		<div class="media__avatar__wrapper">
			<div class="media__avatar">
				<img src="{{ site.baseurl }}/img/avatar-01.png">
			</div>
		</div>
		
		<div class="media__content">
			<h4 class="media__author">First Comment Title or Author</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
			<p class="media__meta">Date or details about this post</p>
		</div>
	</div>

	<div class="media__items">
		<div class="media__avatar__wrapper">
			<div class="media__avatar">
				<img src="{{ site.baseurl }}/img/avatar-02.png">
			</div>
		</div>
		<div class="media__content">
			<h4 class="media__author">First Comment Title or Author</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
			<p class="media__meta">Date or details about this post</p>
		</div>
	</div>

</div>
