<!-- <div class="notice-message">
	<div class="notice">
		<p>This is default message.</p>
	</div>
</div>

<div class="notice-message">
	<div class="notice notice--info">
		<p>This is info message.</p>
	</div>
</div>

<div class="notice-message">
	<div class="notice notice--success">
		<p>This is success message.</p>
	</div>
</div>

<div class="notice-message">
	<div class="notice notice--warning">
		<p>This is warning message.</p>
	</div>
</div>

<div class="notice-message">
	<div class="notice notice--error">
		<p>This is error message.</p>
	</div>
</div>

<h3 class="panel-doc__heading">Include close buttons</h3>
<div class="notice-message">
	<div class="notice">
		<button class="icon notice__close"><i class="fa fa-close"></i></button>
		<p>This is default message.</p>
	</div>
</div>

<div class="notice-message">
	<div class="notice notice--info">
		<button class="icon notice__close"><i class="fa fa-close"></i></button>
		<p>This is info message.</p>
	</div>
</div>

<div class="notice-message">
	<div class="notice notice--success">
		<button class="icon notice__close"><i class="fa fa-close"></i></button>
		<p>This is success message.</p>
	</div>
</div>

<div class="notice-message">
	<div class="notice notice--warning">
		<button class="icon notice__close"><i class="fa fa-close"></i></button>
		<p>This is warning message.</p>
	</div>
</div>

<div class="notice-message">
	<div class="notice notice--error">
		<button class="icon notice__close"><i class="fa fa-close"></i></button>
		<p>This is error message with close button.</p>
	</div>
</div>
 -->