<nav class="pagination-wrapper">
	<ul class="pagination">
		<li class="pagination__items">
			<a href="#" aria-label="Previous" class="pagination__link">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		<li class="pagination__items"><a href="#" class="pagination__link">1</a></li>
		<li class="pagination__items"><a href="#" class="pagination__link">2</a></li>
		<li class="pagination__items pagination__items--current"><a href="#" class="pagination__link">3</a></li>
		<li class="pagination__items"><a href="#" class="pagination__link">4</a></li>
		<li class="pagination__items"><a href="#" class="pagination__link">5</a></li>
		<li class="pagination__items">
			<a href="#" aria-label="Next" class="pagination__link">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
	</ul>
</nav>
