<!-- <h4>Default</h4>
<div class="panel">
    <div class="panel__content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores voluptatem qui eos iste ipsam ipsa, tenetur alias, dicta, id quo nesciunt autem accusamus natus? Consequuntur quidem unde sunt dignissimos tenetur.</p>
    </div>
</div>

<h4>With Header and Footer</h4>
<div class="panel">
	<div class="panel__header">
		<h4 class="panel__title">Panel header</h4>
	</div>
	<div class="panel__content">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim aut ratione, maxime aliquam ea, temporibus harum! Illo eius, consequuntur, nihil, libero ea modi, atque vel architecto at alias error aut.
		</p>
	</div>
	<div class="panel__footer">
		<p>Panel footer</p>
	</div>
</div>
 -->