<!-- <span class="tooltipped tooltipped-n" aria-label="This is the tooltip.">
	Text with a tooltip
</span> -->

<p><span class="hint--top hint--bounce" data-hint="I'm top">Top</span></p>
<p><span class="hint--right hint--bounce" data-hint="I'm right">Right</span></p>
<p><span class="hint--bottom hint--success hint--bounce" data-hint="I'm bottom and success">Bottom and success</span></p>
<p><span class="hint--left hint--bounce hint--warning" data-hint="I'm left and warning">Left and warning</span></p>
<p><span class="hint--right hint--always" data-hint="I'm always show">Always show</span></p>
