<div class="doc-layout">

	<!-- 1 column -->
	<section class="l-col">
		<div class="col">
			<p>1</p>
		</div>

		<div class="col">
			<p>2</p>
		</div>
	</section>

	<!-- 2 columns -->
	<div class="l-col l-col-2">
		<div class="col">
			<p>1</p>
		</div>
		<div class="col">
			<p>2</p>
		</div>

		<div class="col">
			<p>3</p>
		</div>
		<div class="col">
			<p>4</p>
		</div>
	</div>

	<!-- 3 columns -->
	<div class="l-col l-col-3">
		<div class="col">
			<p>1</p>
		</div>
		<div class="col">
			<p>2</p>
		</div>
		<div class="col">
			<p>3</p>
		</div>

		<div class="col">
			<p>4</p>
		</div>
		<div class="col">
			<p>5</p>
		</div>
		<div class="col">
			<p>6</p>
		</div>
	</div>

	<!-- 4 -columns -->
	<div class="l-col l-col-4">
		<div class="col">
			<p>1</p>
		</div>
		<div class="col">
			<p>2</p>
		</div>
		<div class="col">
			<p>3</p>
		</div>
		<div class="col">
			<p>4</p>
		</div>

		<div class="col">
			<p>5</p>
		</div>
		<div class="col">
			<p>6</p>
		</div>
		<div class="col">
			<p>7</p>
		</div>
		<div class="col">
			<p>8</p>
		</div>
	</div>

	<!-- 5 columns -->
	<div class="l-col l-col-5">
		<div class="col">
			<p>1</p>
		</div>
		<div class="col">
			<p>2</p>
		</div>
		<div class="col">
			<p>3</p>
		</div>
		<div class="col">
			<p>4</p>
		</div>
		<div class="col">
			<p>5</p>
		</div>

		<div class="col">
			<p>6</p>
		</div>
		<div class="col">
			<p>7</p>
		</div>
		<div class="col">
			<p>8</p>
		</div>
		<div class="col">
			<p>9</p>
		</div>
		<div class="col">
			<p>10</p>
		</div>
	</div>

	<!-- 6 columns -->
	<div class="l-col l-col-6">
		<div class="col">
			<p>1</p>
		</div>
		<div class="col">
			<p>2</p>
		</div>
		<div class="col">
			<p>3</p>
		</div>
		<div class="col">
			<p>4</p>
		</div>
		<div class="col">
			<p>5</p>
		</div>
		<div class="col">
			<p>6</p>
		</div>

		<div class="col">
			<p>7</p>
		</div>
		<div class="col">
			<p>8</p>
		</div>
		<div class="col">
			<p>9</p>
		</div>
		<div class="col">
			<p>10</p>
		</div>
		<div class="col">
			<p>11</p>
		</div>
		<div class="col">
			<p>12</p>
		</div>
	</div>

</div>