<div class="doc-layout">

	<!-- 1 waffles-->
	<div class="l-col l-waffle l-waffle-1">
		<div class="col">
			<p>1</p>
		</div>
		<div class="col">
			<p>2</p>
		</div>
	</div>

	<!-- 2 waffles-->
	<div class="l-col l-waffle l-waffle-2">
		<div class="col">
			<p>1</p>
		</div>
		<div class="col">
			<p>2</p>
		</div>
		<div class="col">
			<p>3</p>
		</div>
		<div class="col">
			<p>4</p>
		</div>
		<div class="col">
			<p>5</p>
		</div>
		<div class="col">
			<p>6</p>
		</div>

	</div>

	<!-- 3 waffles-->
	<div class="l-col l-waffle l-waffle-3">
		<div class="col">
			<p>1</p>
		</div>
		<div class="col">
			<p>2</p>
		</div>
		<div class="col">
			<p>3</p>
		</div>
		<div class="col">
			<p>4</p>
		</div>
		<div class="col">
			<p>5</p>
		</div>
		<div class="col">
			<p>6</p>
		</div>
	</div>

	<!-- 4 waffles-->
	<div class="l-col l-waffle l-waffle-4">
		<div class="col">
			<p>1</p>
		</div>
		<div class="col">
			<p>2</p>
		</div>
		<div class="col">
			<p>3</p>
		</div>
		<div class="col">
			<p>4</p>
		</div>
		<div class="col">
			<p>5</p>
		</div>
		<div class="col">
			<p>6</p>
		</div>
		<div class="col">
			<p>7</p>
		</div>
		<div class="col">
			<p>8</p>
		</div>
	</div>
	
</div>