---
layout: doc
title: Html Ipsum
---

<main class="main">
	<div class="wrapper">
{% comment %}
		<!-- Color -->
		{% include examples/_color.html %}

		<!-- Heading -->
		{% include examples/_heading.html %}

		<!-- Paragraph -->
		{% include examples/_p.html %}

		<!-- Inline elements -->
		{% include examples/_inline.html %}

		<!-- Link -->
		{% include examples/_link.html %}

		<!-- Blockquote -->
		{% include examples/_blockquote.html %}

		<!-- Unordered List -->
		{% include examples/_ul.html %}

		<!-- Ordered List -->
		{% include examples/_ol.html %}

		<!-- Definition List -->
		{% include examples/_dl.html %}

		<!-- List -->
		{% include examples/_list.html %}

		<!-- Table -->
		{% include examples/_table.html %}

		<!-- Button -->
		{% include examples/_button.html %}

		<!-- Notice -->
		{% include examples/_notice.html %}

		<!-- Tooltip -->
		{% include examples/_tooltip.html %}
		
		<!-- Breadcrumbs -->
		{% include examples/_breadcrumb.html %}

		<!-- Pagination -->
		{% include examples/_pagination.html %}

		<!-- Avatar -->
		{% include examples/_avatar.html %}
		
		<!-- Code -->
		{% include examples/_code.html %}

		<!-- Icon font -->
		{% include examples/_iconfont.html %}

		<!-- Media object -->
		{% include examples/_media.html %}

		<!-- Image -->
		<!-- Counter -->
		{% include examples/_counter.html %}

		<!-- Label -->
		{% include examples/_label.html %}

		<!-- Accordion -->
		{% include examples/_accordion.html %}

		<!-- Progress bar -->
		{% include examples/_progress-bar.html %}
		
		<!-- Horizontal Line -->
		{% include examples/_hr.html %}

		<!-- Form -->
		{% include examples/_form.html %}

		<!-- Input group -->
		{% include examples/_input-group.html %}

		<!-- Panel -->
		{% include examples/_panel.html %}

		<!-- Layout -->
		{% include examples/_layout.html %}
{% endcomment %}
	</div>
</main>