// ---------------------------
// +	Button size
//		button-sizes.styl
//
//		Defines sizes for buttons
// ---------------------------
.btn--small
	padding: 8px
	fs: $small-font-size
	
.btn--large
	padding: 1.2rem 1.6rem
	fs: 1.2rem
	
.btn--xlarge
	padding: 1.5rem 2rem
	
	font-family: $btn-font-family
	font-size: 1.6rem
	font-weight: $btn-font-weight
	line-height: $btn-line-height