// ---------------------------
// +	Button outline
// ---------------------------
.btn--outline
	background: transparent
	border: 1px solid $action-color
	
	&:hover
		color: #fff
		background: $action-color
		border: 1px solid $action-color